<div ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false }" class="form-group {{form.htmlClass}}">
    <!-- Surrounding DIV for sfField builder to add a sfField directive to. -->
    <custom-ui-select-hardware label="form.title" on-select-item="evalExpr(form.onselectitem, {$item: $item, $model: $model})"
        on-remove="evalExpr(form.onremove, {$item: $item, $model: $model})" hardware="form.dummy" identifier="$$value$$"
        multiple="form.multiple" sf-field-model="replaceAll" ng-model="$$value$$" title="{{form.title | translate }}"
        ng-required="form.required" ui-select-match-class="form.uiSelectMatchClass" full-result="form.fullResult">
    </custom-ui-select-hardware>
</div>
