.input-group span.ui-select-toggle {
    display: inline-block !important;
}

action-button>div>div {
    float: left;
    margin-right: 5px;
    max-width: 100%;
}

action-button>div>div>.btn {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ui-select-match-item div.entity-editable {
    position: absolute;
    opacity: 0;
    width: 65%;
    height: 70%;
    transition: all linear 0.2s;
    cursor: context-menu;
}