<div class="form-group no-margin" mass-autocomplete ng-if="$ctrl.multiple">
    <label ng-if="$ctrl.label" class="custom-ui-select-label">{{ $ctrl.label | translate }}
        <field-options required="$ctrl.ngRequired" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" ng-disabled="$ctrl.disabled" name="asset" ng-model="$ctrl.asset" theme="bootstrap" title="Choose an asset" custom-ui-select custom-ui-select-action="$ctrl.action" multiple="true" custom-mass-autocomplete-item="$ctrl.ownConfig"
        on-select="$ctrl.assetSelected($item, $model)" on-remove="$ctrl.assetRemove($item, $model)" ng-required="$ctrl.ngRequired" disable-default-sorted="form.disableDefaultSorted">
        <ui-select-match class="{{$ctrl.uiSelectMatchClass}}" placeholder="{{ $ctrl.placeholder || 'FORM.PLACEHOLDER.ENTITY'  | translate }}" allow-clear="true">
            {{ $ctrl.showFieldInfo($ctrl.matchFields.principal, $item) || $item.identifier }}
        </ui-select-match>
        <ui-select-choices repeat="assetData in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="$ctrl.showFieldInfo($ctrl.matchFields.principal, assetData) | highlight: $select.search"></span>
            <small>
                <div ng-repeat="(field, path) in $ctrl.matchFields.extra track by $index" ng-if="$ctrl.showFieldInfo(path, assetData)">
                    {{ field | translate }}: <span ng-bind-html="$ctrl.showFieldInfo(path, assetData) | highlight: $select.search"></span>
                </div>
            </small>
        </ui-select-choices>
        <ui-select-no-choice>
            {{ 'UX-ERROR.DATA_NOT_FOUND' | translate }}
        </ui-select-no-choice>
    </ui-select>
</div>
<div class="form-group no-margin" mass-autocomplete ng-if="!$ctrl.multiple">
    <label ng-if="$ctrl.label" class="custom-ui-select-label">{{ $ctrl.label | translate }}
        <field-options required="$ctrl.ngRequired" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" ng-disabled="$ctrl.disabled" name="asset" ng-model="$ctrl.asset" theme="bootstrap" title="Choose an asset" custom-ui-select multiple="false" custom-mass-autocomplete-item="$ctrl.ownConfig" on-select="$ctrl.assetSelected($item, $model)"
        on-remove="$ctrl.assetRemove($item, $model)" ng-required="$ctrl.ngRequired" disable-default-sorted="form.disableDefaultSorted">
        <ui-select-match class="{{$ctrl.uiSelectMatchClass}}" placeholder="{{ $ctrl.placeholder || 'FORM.PLACEHOLDER.ENTITY'  | translate }}" allow-clear="true">
            {{ $ctrl.showFieldInfo($ctrl.matchFields.principal, $item) || $item.identifier }}
        </ui-select-match>
        <ui-select-choices repeat="assetData in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="$ctrl.showFieldInfo($ctrl.matchFields.principal, assetData) | highlight: $select.search"></span>
            <small>
                <div ng-repeat="(field, path) in $ctrl.matchFields.extra track by $index" ng-if="$ctrl.showFieldInfo(path, assetData)">
                    {{ field | translate }}: <span ng-bind-html="$ctrl.showFieldInfo(path, assetData) | highlight: $select.search"></span>
                </div>
            </small>
        </ui-select-choices>
        <ui-select-no-choice>
            {{ 'UX-ERROR.DATA_NOT_FOUND' | translate }}
        </ui-select-no-choice>
    </ui-select>
</div>
<action-button ng-if="!$ctrl.disabled" actions="$ctrl.uiSelectActions">
</action-button>