<div class="form-group no-margin" mass-autocomplete ng-if="$ctrl.multiple">
    <label ng-if="$ctrl.label" class="custom-ui-select-label">{{ $ctrl.label | translate }}
        <field-options required="$ctrl.ngRequired" multiple="$ctrl.multiple" /></label>
    <ui-select name="element" custom-ui-select-config="$ctrl.ownConfig" ng-model="$ctrl.element" theme="bootstrap" title="{{ $ctrl.placeholder | translate }}" custom-ui-select multiple="true" custom-mass-autocomplete-item="$ctrl.ownConfig" on-select="$ctrl.elementSelected($item, $model)"
        on-remove="$ctrl.elementRemove($item, $model)" ng-required="$ctrl.required">
        <ui-select-match class="{{$ctrl.uiSelectMatchClass}}" placeholder="{{ $ctrl.placeholder | translate }}" allow-clear="true"> {{$item}} </ui-select-match>
        <ui-select-choices repeat="element in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="element | highlight: $select.search">
        </ui-select-choices>
    </ui-select>
</div>
<div class="form-group no-margin" mass-autocomplete ng-if="!$ctrl.multiple">
    <label ng-if="$ctrl.label" class="custom-ui-select-label">{{ $ctrl.label | translate }}
        <field-options required="$ctrl.ngRequired" multiple="$ctrl.multiple" /></label>
   
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="element" ng-model="$ctrl.element" theme="bootstrap"
        title="{{ $ctrl.placeholder | translate }}" custom-ui-select multiple="false" custom-mass-autocomplete-item="$ctrl.ownConfig" on-select="$ctrl.elementSelected($item, $model)"  on-remove="$ctrl.elementRemove($item, $model)"
      ng-required="$ctrl.required">
        <ui-select-match class="{{$ctrl.uiSelectMatchClass}}" placeholder="{{ $ctrl.placeholder | translate }}" allow-clear="true"><span> {{$item}}</span> </ui-select-match>
            <ui-select-choices repeat="element in $ctrl.ownConfig.collection track by $index">
                <span ng-bind-html="element | highlight: $select.search">
        </ui-select-choices>
    </ui-select>
</div>